@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Press+Start+2P&display=swap');

body {
    background-image: url(../img/steven\ farm\ background.gif)
}

#body {
    color: rgb(241, 236, 157);
}

#header {
    text-align: center;
    font-size: 15px;
    font-family: 'Press Start 2P', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

#list {
    text-align: center;
    color: rgb(249, 250, 173);
    font-size: 25px;
    font-family: fantasy;
}

#picture {
    display: flex;
    justify-content: center;
    position: relative; 
    bottom: 60px;
}

#moods {
    max-width: 200px;
    height: 150px;
    font-size: 30px;
    font-family: fantasy;
}

#button {
    text-align: center;
}
    
#feed-btn {

}

#nap-btn {

}

#play-btn {
    
}




#start {
    text-align: center;
}